<div class="container mx-auto">
  <div class="flex justify-between items-center px-3">
    <h1 class="text-indigo-500 text-xl font-bold">
      <%= link "<", to: Routes.board_list_path(@conn, :index, @board) %> New List
    </h1>
  </div>

  <%= render "form.html", Map.put(assigns, :action, Routes.board_list_path(@conn, :create, @board)) %>
</div>
