<div class="container mx-auto">
  <div class="flex justify-between items-center px-3">
    <h1 class="text-indigo-500 text-xl font-bold">
      New Board
    </h1>

    <%= icon_button(icon: "back", class: "btn sm font-sm bg-gray just-icon", to: Routes.board_path(@conn, :index)) %>
  </div>

  <%= render "form.html", Map.put(assigns, :action, Routes.board_path(@conn, :create)) %>
</div>
